@using EnchantElegance.Application.DTOs;
@using EnchantElegance.Domain.Entities;

@model ItemVM<Category>

@{
	int count = 0;
}

<!-- START PAGE CONTENT-->
<div class="page-heading">
	<h1 class="page-title">Category Table</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="index.html"><i class="la la-home font-20"></i></a>
		</li>
	</ol>
</div>
<div class="page-content fade-in-up">
	<div class="row">
		<div class="col-md-6">
			<div class="ibox">
				<div class="ibox-head">
					<div class="ibox-title">Categories</div>
					<a asp-controller="Category" asp-action="Create"class="btn btn-success">Create</a>
				</div>
				<div class="ibox-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var category in Model.Items)
							{
								count++;
								<tr >
									<td>@count</td>
									<td>@category.Name</td>
									<td>
										<a asp-controller="Category" asp-action="Update" asp-route-id="@category.Id" class="btn-btn warning">Update</a>
										<a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="customDelete"  class="btn-btn danger">Delete</a>
										<a asp-controller="Category" asp-action="Details" asp-route-id="@category.Id" class="btn-btn info">Details</a>

									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- END PAGE CONTENT-->