@using EnchantElegance.Application.DTOs;
@using EnchantElegance.Application.ViewModels;
@using EnchantElegance.Domain.Entities;
@model PaginationVM<Product>

@{
	int count = 0;
}

<!-- START PAGE CONTENT-->
<div class="page-heading">
	<h1 class="page-title">Product Table</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-controller="Dashboard" asp-action="Index"><i class="la la-home font-20"></i></a>
		</li>
	</ol>
</div>
<div class="page-content fade-in-up">
	<div class="row">
			<div class="ibox">
				<div class="ibox-head">
					<div class="ibox-title">Products</div>
					<a asp-controller="Product" asp-action="Create" class="btn btn-success"><i class="ti-plus"></i></a> <br>
				</div>
				<div class="ibox-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>#</th>

								<th>Image</th>

								<th>Name</th>
								<th>Description</th>
								<th>CurrentPrice</th>
								<th>OldPrice</th>
								<th>Category</th>


								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var product in Model.Items)
							{
								count++;
								<tr>
									<td>@count</td>
									<td>
										<img style="width:150px;height:150px;" src="~/assets/img/@product.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==true)?.Url">
									</td>

									<td>@product.Name</td>
									<td>@product.Description</td>
									<td>@product.CurrentPrice</td>
									<td>@product.OldPrice</td>
									<td>@product.Category.Name</td>

									<td>
										<a asp-controller="Product" asp-action="Update" asp-route-id="@product.Id"><i class="ti-marker-alt"></i></a>
										<a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="customDelete"><i class="ti-trash"></i></a>
										<a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn-btn info"><i class="ti-arrow-top-right"></i></a>

									</td>

								</tr>
							}
						</tbody>
					</table>
				</div>
				<div class="container d-flex justify-content-center">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item @(Model.CurrentPage<=1 ? "disabled" : "")">
								<a class="page-link" aria-label="Previous" asp-controller="Product" asp-action="index" asp-route-page="@Model.CurrentPage-1">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							@for (int i = 0; i < Model.TotalPage; i++)
							{
								<li class="page-item @(Model.CurrentPage-1==i ? "disabled" : "")"><a class="page-link" asp-controller="Product" asp-action="index" asp-route-page="@(i+1)">@(i + 1)</a></li>

							}
							<li class="page-item @(Model.CurrentPage>=Model.TotalPage ? "disabled" : "")">
								<a class="page-link" aria-label="Next" asp-controller="Product" asp-action="index" asp-route-page="@(Model.CurrentPage+1)">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				@* </div> *@
			</div>
		</div>
	</div>

</div>
<!-- END PAGE CONTENT-->