@using EnchantElegance.Application.DTOs.Sliders;
@using EnchantElegance.Application.DTOs;
@using EnchantElegance.Domain.Entities;
@model ItemVM<Slider>

@{
	int count = 0;
}

<!-- START PAGE CONTENT-->
<div class="page-heading">
	<h1 class="page-title">Slider Table</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="index.html"><i class="la la-home font-20"></i></a>
		</li>
	</ol>
</div>
<div class="page-content fade-in-up">
	<div class="row">
		<div class="col-md-6">
			<div class="ibox">
				<div class="ibox-head">
					<div class="ibox-title">Categories</div>
					<a asp-controller="Slider" asp-action="Create" class="btn btn-success"><i class="ti-plus"></i></a>
				</div>


				<div class="ibox-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>#</th>

								<th>Image</th>

								<th>Name</th>
								<th>SubTitle</th>
								<th>Order</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var slider in Model.Items)
							{
								count++;
								<tr>
									<td>@count</td>
									<td>
										<img src="~/assets/img/slider/@slider.Image">
									</td>

									<td>@slider.Name</td>
									<td>@slider.SubTitle</td>
									<td>@slider.Order</td>
									<td>
										<a asp-controller="Slider" asp-action="Update" asp-route-id="@slider.Id" ><i class="ti-marker-alt"></i></a>
										<a asp-controller="Slider" asp-action="Delete" asp-route-id="@slider.Id" class="customDelete"><i class="ti-trash"></i></a>
										<a asp-controller="Slider" asp-action="Details" asp-route-id="@slider.Id" class="btn-btn info"><i class="ti-arrow-top-right"></i></a>

									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- END PAGE CONTENT-->