@using EnchantElegance.Application.DTOs;
@using EnchantElegance.Application.ViewModels;
@using EnchantElegance.Domain.Entities;

@model PaginationVM<Color>
@{
	int count = 0;
}
<!-- START PAGE CONTENT-->
<div class="page-heading">
	<h1 class="page-title">Color Table</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="index.html"><i class="la la-home font-20"></i></a>
		</li>
	</ol>
</div>
<div class="page-content fade-in-up">
	<div class="row">
		<div class="col-md-6">
			<div class="ibox">
				<div class="ibox-head">
					<div class="ibox-title">Colors</div>
					<a asp-controller="Color" asp-action="Create" class="btn btn-success"></a>
				</div>
				<div class="ibox-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th> No</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var category in Model.Items)
							{
								count++;
								<tr>
									<td>@count</td>
									<td>@category.Name</td>
									<td>@category.No</td>

									<td>
										<a asp-controller="Color" asp-action="Update" asp-route-id="@category.Id" class="btn-btn warning">Update</a>
										<a asp-controller="Color" asp-action="Delete" asp-route-id="@category.Id" class="customDelete" class="btn-btn danger">Delete</a>
										<a asp-controller="Color" asp-action="Details" asp-route-id="@category.Id" class="btn-btn info">Details</a>

									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<div class="container d-flex justify-content-center">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item @(Model.CurrentPage<=1 ? "disabled" : "")">
								<a class="page-link" aria-label="Previous" asp-controller="Color" asp-action="index" asp-route-page="@Model.CurrentPage-1">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							@for (int i = 0; i < Model.TotalPage; i++)
							{
								<li class="page-item @(Model.CurrentPage-1==i ? "disabled" : "")"><a class="page-link" asp-controller="Color" asp-action="index" asp-route-page="@(i+1)">@(i + 1)</a></li>

							}
							<li class="page-item @(Model.CurrentPage>=Model.TotalPage ? "disabled" : "")">
								<a class="page-link" aria-label="Next" asp-controller="Color" asp-action="index" asp-route-page="@(Model.CurrentPage+1)">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- END PAGE CONTENT-->